body {
  background: #323232;
  color: white;
}

#game-name {
  padding: 1rem;
  background: white;
  color: #323232;
}

#life::before {
  content: "LIFE: ";
}

#score::before {
  content: "SCORE: ";
}

#game-name,
#life,
#score,
#version {
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
}

#board {
  width: 75vmin;
  height: 75vmin;
  max-width: 550px;
  max-height: 550px;
  display: grid;
  margin: auto;
  background: url('../img/logo.png');
  background-size: cover;
}

#board > div {
  transition: background .25s;
  animation: block-fade-in .5s;
}

@keyframes block-fade-in {
  0% {
    opacity: 0;
  }
}

#board > div.black {
  background: black;
}

#board > div.white {
  background: white;
}

#game-over {
  height: 100%;
  margin: 0;
  padding: .75rem;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  font-size: 2rem;
}
